* {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/*header*/
.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px; /* Dodaj dodatkowy padding po prawej stronie */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Ustal wysoki indeks z dla nagłówka */
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: -20%;
}

.header-right {
  display: flex;
  align-items: center;
  width: 200px;
}

.header-right p {
  font-size: 15px;
  max-width: 100px;
  padding-right: 10px;
  margin: 0 auto;
  text-overflow: clip;
  font-family: Arial, Helvetica, sans-serif;
}

.header-left img {
  width: 5%;
  margin: 1%;
}

.container {
  position: relative;
  background-image: url("/public/background-image.jpg");
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  border: 1px solid black;
  place-items: center;
  width: 100vw;
}

.container > * {
  position: relative;
  z-index: 1;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/*slider*/

.slider-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  opacity: 0.8;
}

.slider-container .quote {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease;
  font-style: italic;
}

.slider-container .quote.active {
  bottom: 0;
  opacity: 1;
}

#quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 80%;
  max-width: 600px;
}

/*main*/

main {
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 5%; /* Zmniejsz margines górny */
  margin-bottom: 5%; /* Zmniejsz margines dolny */
  max-height: calc(100vh - 40% - 40px);
  margin-right: 3%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

/*main div*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 1%;
  padding: 0.5%;
  box-sizing: border-box;
}

.grid-item {
  padding: 1%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.grid-item img {
  width: 90%;
  max-width: 100%;
  height: auto;
}

.grid-item p {
  color: #282c34;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
}
.placeholder {
  width: 25%; 
  height: auto; 
}

.chart {
  margin-left: 10px;
}
/*list*/
.items {
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 1%;
  background-color: rgba(255, 255, 255, 0.5);
}

.items-head p {
  padding: 5px 20px;
  margin: 10px;
  color: #0B5AA2;
  font-weight: bold;
  font-size: 40px;
}

.items-head hr {
  width: 20%;
  margin: 0px 30px;
  border: 1px solid #0B5AA2;
}

.items-desc{
  color: #282c34;
  font-weight: bold;
  font-size: 15px;
  font-style: italic;
  margin: 0px 30px;
}

.items-body {
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-gap: 10px;
}

.items-body-content {
  padding: 10px;
  padding-right: 0px;
  display: grid;
  grid-template-columns: 10fr 1fr;
  font-size: 20px;
  font-weight: bold;
  grid-gap: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 15px;
}
.items-body-content:hover,
.items-body-content:focus {
  border: 1px solid #0B5AA2;
  background-color: #0B5AA2;
  color: #ffffff;
}
.items-body-content a:visited {
  color: inherit;
}
/*footer*/
.App-footer {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Ustal wysoki indeks z dla stopki */
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.footer-text {
  margin: 0;
  font-size: 12px;
}


.login{
  background-color: '#282c34';
      height: '100vh';
      display: 'flex';
      justify-content: 'center';
      align-items: 'center';
}


@keyframes icon {
  0%,
  100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px);
  }
}

@media screen and (max-width: 768px) {
  .App-header {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .header-left,
  .header-right {
    margin-bottom: 10px;
  }

  .container {
    flex-direction: column;
    height: auto;
  }

  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  nav {
    width: 100%;
    height: 20%;
  }

  main {
    width: 100%;
    height: 60%;
  }

  .App-footer {
    height: auto;
  }
}
